<configuration><configSections>
                   <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
                       <section name="COMoverTCP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
                   </sectionGroup>
    </configSections>
               <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><userSettings>
        <COMoverTCP.My.MySettings>
            <setting name="Port" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="COMPort" serializeAs="String">
                <value />
            </setting>
            <setting name="Baudrate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="Handshake" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ConsoleExpanded" serializeAs="String">
                <value>False</value>
            </setting>
        </COMoverTCP.My.MySettings>
    </userSettings>
</configuration>
